p.type-filters {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 11px;
  color: #000000;
}
