.box {
  width: max-content;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 120px;
}
.subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin: 0;
  margin-bottom: 44px;
}
.stellar {
  display: flex;
}
aside.box span {
  display: flex;
  justify-content: center;
}
aside.box span img {
  margin-top: 20px;
  margin-right: 8px;
}
@media screen and (max-width: 730px) {
  .stellar {
    display: block;
  }
  .net-none {
    display: none;
  }
}
